body {
  background-image: url(../img/back.jpg);
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  overflow-x: hidden;
}

/* Глобальные стили */

header, footer{
  background-color: rgb(170, 17, 17);
  padding: 20px 0;
  text-align: center;
  padding: 10px 10px;
  margin-right: 5px;
}
.logoimg {
  display:block;
  margin: 0 auto;
}
.nav-item {
  text-align: center;
  padding: 10px 10px;
  margin-right: 5px;
}

.nav-item:hover {
  background-color: #ff7d7d;
}

.text-justyfy {
  text-align: justify;
}
