{% extends "base.html" %}


{% block content %}

<main>
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="widget-title" style="text-align: center">Войти как администратор</h3>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <div class="contact-form">
                        <form action="" name="login" id="form" method="post">
                            <p>
                                <input name="login" type="text" id="login"
                                       placeholder="Введите имя администратора новостей">
                            </p>
                            <p>
                                <input name="password" type="text" id="password" placeholder="Введите пароль">
                            </p>
                            <input type="submit" class="mainBtn" value="Отправить">
                        </form>
                    </div> <!-- /.contact-form -->
                </div>
            </div>
        </div>
    </div> <!-- /.content-section -->

</main>

{% endblock %}