{% extends "base.html" %}


{% block content %}

<main>

    <div class="login-form">
        <div class="container">
            <form action="" name="form_sign_in" enctype="multipart/form-data" id="newnews" method="post">

                <input name="title" id="title" value="{{ form.title  }}">
                <div>
                <textarea name="content" id="content">{{ form.intro }}</textarea>
                </div>
                <div>
                <textarea name="content" id="content">{{ form.content }}</textarea>
                </div>
                <div>
                {{ form.picture }}
                    </div>
                {{ form.submit }}
            </form>
        </div>
    </div>

</main>

{% endblock %}