{% extends "base.html" %}


{% block content %}

<main>

    <div class="login-form">
        <div class="container">
            <form action="" name="form_sign_in" enctype="multipart/form-data" id="newnews" method="post">

                {{ form.title  }}
                <div>
               {{ form.intro }}
                </div>
                <div>
                {{ form.content }}
                </div>
                <div>
                {{ form.picture }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>

</main>

{% endblock %}