{% extends "base.html" %}

{% block content %}
<main>
    <img class="logoimg w-50 py-3" src="{{ url_for ('static', filename = 'img/krapoviyberet.jpg') }}">
    <h3 class="text-center">Выдержка из действующего положения</h3>
    <h3 class="text-center">по сдаче на право ношения крапового берета для
        военнослужащих 604 центра СпН</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <p>Общие положения:</p>
                <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret1.JPG') }}">
            </div>
            <div class="col-lg-8 col-md-12">
                <p class="text-justyfy"> Краповый берет является главным символом сил специального
                    назначения войск национальной гвардии Российской Федерации? и
                    отличительным знаком наиболее подготовленных военнослужащих.
                </p>
                <p class="text-justyfy"> Ношение крапового берета является стимулом, повышающим
                    ответственность военнослужащего за его уровень индивидуальной
                    подготовки, качество выполнения им повседневных и служебно-боевых
                    задач, личную примерность и дисциплинированность.
                </p>
                <p class="text-justyfy"> К Испытаниям допускаются военнослужащие, проходящие
                    военную службу в органах управления сил специального назначения,
                    воинских частях (в том числе учебных) (подразделениях) специального
                    назначения войск национальной гвардии, органах управления разведкой,
                    разведывательных воинских частях (подразделениях) войск национальной
                    гвардии в соответствии с перечнем воинских должностей и подразделений
                    определенных директором Федеральной службы войск национальной
                    гвардии Российской Федерации.
                </p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret2.JPG') }}">
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <p class="text-justyfy"> Испытания проводятся последовательно в течение четырех этапов
                            (4-х дней):<br>
                            первый этап (1 день) — проверка состояния здоровья кандидатов,
                            проведение инструктажа по требованиям безопасности;<br>
                            второй этап (2 день} - сдача зачетов и выполнение нормативов по
                            тактико-специальной, физической, инженерной, военно-медицинской,
                            горной, высотной, морально-психологической, огневой подготовкам,
                            подготовке по связи и военной топографии;<br>
                            третий этап (3 день) — проведение инструкторско-методических и
                            показных занятий, изучение характеризующих материалов кандидатов,
                            результатов сдачи зачетов и нормативов по учебным предметам, принятие
                            решения о допуске кандидатов к основной части испытаний;<br>
                            четвертый этап (4 день) — проведение основной части Испытаний.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <p class="text-justyfy">
                    Мероприятия первого дня Испытаний.<br>
                    Военнослужащие сил СпН, курсанты из числа кандидатов
                    проходят медицинский осмотр, в ходе которого медицинскими работниками
                    определенными к обеспечению Испытаний изучаются медицинские
                    документы (медицинские книжки или выписки из медицинской карты
                    пациента, получающего медицинскую помощь в амбулаторных условиях, с
                    указанием даты прохождения и результатами последнего углубленного
                    медицинского обследования, электрокардиограмма с заключением врача-
                    кардиолога давностью не более 1 месяца и разрешение медицинского
                    работника воинской части на участие в Испытаниях, проводится устный
                    опрос кандидата о состоянии здоровья, выявляются жалобы, проводится
                    телесный осмотр, осуществляется взвешивание с целью определения весовой
                    категории кандидата. Результаты медицинского осмотра подписываются
                    врачом комиссии.<br>
                    Со всем личным составом привлекаемым для участия в
                    Испытаниях и обеспечения их проведения проводится инструктаж по
                    требованиям безопасности.<br>
                    Проверяется готовность инструкторов с составлением
                    ведомости, в которой каждому из проверяемых выставляется оценка «готов»
                    или «не готов».<br>
                    Проводится смотр готовности объектов к Испытаниям.
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <img class="w-100 py-4 logoimg" src="{{ url_for ('static', filename = 'img/beret3.JPG') }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <p class="text-justyfy">
                    Мероприятия второго дня Испытаний.<br>
                    Военнослужащие сил СпН, курсанты из числа кандидатов сдают
                    зачеты по предметам боевой подготовки с практическим выполнением
                    нормативов. Для принятия зачетов на объектах УМБ разворачиваются
                    учебные места. За подготовку учебных мест отвечает руководитель занятия
                    на учебном месте назначаемый из числа инструкторов. При необходимости,
                    из числа инструкторов, на каждом учебном месте назначаются помощники
                    руководителя занятия. Кроме этого, помощниками руководителей занятий на
                    учебном месте могут назначаться специалисты по направлениям
                    деятельности (связи, инженерной, медицинской служб, и др.). Для организованного
                    проведения занятий кандидаты разбиваются на равные группы по количеству
                    учебных мест и последовательно сдают зачеты на каждом учебном месте.
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <img class="w-100 py-4 logoimg" src="{{ url_for ('static', filename = 'img/beret4.JPG') }}">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret5.JPG') }}">
            </div>
            <div class="col-lg-8 col-md-12 text-justyfy">
                Мероприятия третьего дня Испытаний.<br>
                С инструкторами, под руководством председателя комиссии проводятся ИМЗ.<br>
                С военнослужащими сил СпН привлекаемым к Испытаниям
                проводятся показные занятия, по одной или нескольким темам предметов обучения.<br>
                Для изучения характеризующих материалов кандидатов,
                результатов сдачи зачетов но учебным предметам, принятия решения о
                допуске кандидатов к основной части испытаний проводится мандатная
                комиссия. Обязательно в состав мандатной
                комиссии включаются: члены комиссии, назначенной для проведения
                испытаний, врач, психолог, руководители занятий.<br>
                К четвертому этапу Испытаний допускаются кандидаты,
                прошедшие мандатную комиссию.<br>
                По завершении мандатной комиссии проводится Совет
                военнослужащих, имеющих право ношения крапового берета, по порядку проведения Испытаний.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret6.JPG') }}">
            </div>
            <div class="col-lg-8 col-md-12 text-justyfy">
                Мероприятия четвертого дня Испытания<br>
                Кандидаты допущенные к основной части Испытаний
                формируются в группы (не более 50 человек каждая) с учетом возрастных
                характеристик кандидатов. <br>
                Основная часть Испытаний начинается с проверки личного
                состава, экипировки кандидатов, осуществляемая на общем построении,
                перед совершением марш-броска. В экипировку входит; полевая форма
                одежды, бронежилет (не менее 10 кг.), шлем защитный (второго класса
                защиты), автомат с магазином, противогаз. Запрещается намеренно приводить форму одежды в
                негодность с целью облегчения передвижения. Кандидаты в группе разбиваются на
                боевые тройки (двойки), среди них назначаются старшие, в ходе проведения
                этапов Испытания их состав может изменяться. <br>
                Для проверки уровня развития оперативной памяти перед
                началом марш-броска каждому кандидату доводится индивидуальная
                короткая информация для запоминания (набор цифр, слов, смысловая
                информация) которая фиксируется в ведомости.<br>
                Для проверки умения кандидатов контролировать свое оружие и
                поддерживать его в исправном состоянии, перед марш-броском, каждому
                выдается холостой патрон, который кандидаты по команде снаряжают в
                магазин, и магазин присоединяют к оружию. Патрон в патронник, при этом,
                не досылается. </p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <p class="text-justyfy">
                    По команде судьи «Бегом марш» начинается основная часть
                    испытаний:<br>
                    Основной целью марш-броска является создание максимально
                    возможных физических и психо-эмоциональных нагрузок, для проверки
                    способности кандидата контролировать свое физическое и психическое
                    состояние и управлять им, адекватно реагировать на изменение окружающей
                    действительности и тактической обстановки.
                    Марш-бросок совершается по заранее подготовленному маршруту,
                    темп передвижения задает судья. За каждой группой совершающей марш-
                    бросок следует автомобиль для эвакуации сошедших с дистанции кандидатов.
                    За ошибки допущенные кандидатами в ходе отработки тактических действий судья
                    (самостоятельно или по ходатайству инструкторов) может объявить кандидату замечание.<br>
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <img class="w-100 py-4 logoimg" src="{{ url_for ('static', filename = 'img/beret7.JPG') }}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <p class="text-justyfy">
                    Замечание объявляется:<br>
                    за не реагирование кандидата на команды судьи;<br>
                    за выполнение отрабатываемых вводных на оценку неудовлетворительно.<br>
                    Объявленное замечание фиксируется в ведомости.<br>
                    В ходе марш-броска отрабатываются вводные характерные для
                    служебно-боевой деятельности подразделений СпН:<br>
                    преодоление естественных препятствий на маршруте (подъемы,
                    спуски, овраги, кустарник, водные преграды и др.)};<br>
                    преодоление зараженного участка местности в средствах защиты
                    органов дыхания;<br>
                    эвакуация раненого;<br>
                    действия при обнаружении противника, нападения из засады, (обход,
                    охват с целью уничтожения};<br>
                    действия при обнаружении (срабатывании) ВУ (СВУ);<br>
                    передвижения на поле боя.<br>
                    Перечень отрабатываемых вводных может быть дополнен.
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <img class="w-100 py-4 logoimg" src="{{ url_for ('static', filename = 'img/beret8.JPG') }}">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret9.JPG') }}">
                </div>
                <div class="col-lg-8 col-md-12 text-justyfy">
                    <p>На маршруте создаются 4-5 контрольных участков, которые
                        преодолеваются только бегом. Кандидаты, отставшие от группы на 50 метров
                        и более, с маршрута снимаются и к дальнейшим испытаниям не допускаются.
                        Преодоление препятствий СШ производится кандидатами в
                        составе малых групп (групп военнослужащих разделенных на двойки,
                        тройки, четверки). Обязательным условиям является преодоление всех
                        препятствий СИИ кандидатами, с соблюдением тактики действий
                        подразделений (передвижение на поле боя, готовность открытия огня в
                        секторе наблюдения, прикрытие действий военнослужащих группы). За
                        ошибки допущенные кандидатами в ходе отработки тактических действий
                        судья (самостоятельно или по ходатайству инструкторов) может объявить
                        кандидату замечание.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret10.JPG') }}">
                </div>
                <div class="col-lg-8 col-md-12 text-justyfy">
                    В ходе преодоления препятствий разрешается взаимопомощь без
                    передачи оружия и других предметов экипировки.
                    При отработке кандидатами вводных в ходе преодоления СПИТ
                    дополнительно создаются элементы психологической напряженности,
                    инструкторами применяются имитационные средстваа при этом
                    обязательным условием является обеспечение соблюдения требований
                    безопасности.
                    После преодоления СШП судьей последовательно проводится
                    контроль состояния оружия кандидатов. По его команде, каждый из них по
                    очереди производит досылание холостого патрона в патронник своего
                    оружия и производит выстрел в безопасную сторону. Кандидат, которому не
                    удалось произвести выстрел из своего оружия, к дальнейшим испытаниям не
                    допускается.
                    После проверки оружия проводится опрос информации, данной
                    кандидату для запоминания перед марш-броском. Кандидаты, исказившие
                    информацию, получают замечание.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <p class="text-justyfy">
                        Выполнение спуска с высотного здания (с использованием
                        альпинистского снаряжения, специальных спусковых устройств и
                        приспособлений) проверяется путем выполнения кандидатами одного из
                        нормативов по высотной подготовке на зачет. Конкретный норматив определяется
                        членами комиссии накануне проведения Испытаний.
                        В основу проверки навыков по огневой подготовке положены
                        действия, характерные для современного скоротечного огневого боя.
                        Стрельба из стрелкового оружия проверяется путем практического
                        выполнения кандидатами одного из специальных упражнений учебных
                        стрельб из автомата для подразделений СпН (для офицеров, прапорщиков и
                        военнослужащих, за которыми закреплен пистолет, дополнительно одного из
                        специальных упражнений учебных стрельб из пистолета} согласно
                        действующего Курса стрельб. Виды упражнений определяются накануне
                        Испытаний членами комиссии. Оценка зачет выставляется кандидату
                        получившему оценки «отлично» по обоим видам упражнений.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <img class="w-100 py-4 logoimg" src="{{ url_for ('static', filename = 'img/beret11.JPG') }}">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <p class="text-justyfy">
                        Кандидат, допустивший нарушение требований безопасности при
                        обращении с оружием снимается с Испытаний. Непосредственно перед
                        стрельбой организуется уход за вооружением, без снятия экипировки. Время
                        на уход за вооружением предоставляется до 5 минут.
                        В последующем кандидаты принимают форму одежды № 3 в
                        спортивной обуви. Гимнастика и атлетическая подготовка проверяется в ходе
                        выполнения кандидатами упражнений. К
                        дальнейшим испытаниям допускаются кандидаты выполнившие упражнения
                        уверенно, согласно описания. На выполнение каждого из упражнений дается
                        3 попытки. Военнослужащий, не выполнивший любое из упражнений с 3
                        попыток, к дальнейшим испытаниям не допускается.
                        Комплексы специальных упражнений рукопашного боя с
                        оружием (без оружия) выполняются кандидатами последовательно.
                        Оценивается правильность «формы-траектории» атаки с
                        использованием конкретного удара рукой или ногой, а также их быстрота и
                        резкость.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <img class="w-100 py-4 logoimg" src="{{ url_for ('static', filename = 'img/beret12.JPG') }}">
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret13.JPG') }}">
                    </div>
                    <div class="col-lg-8 col-md-12 text-justyfy">
                        <p>Рукопашный бой (учебные схватки) предусматривает
                            поединки двух невооруженных соперников, использующих приемы из
                            арсенала спортивных единоборств (бокс, каратэ, самбо и другие), за
                            исключением запрещенных технических действий. При проведении учебных
                            поединков испытуемый должен продемонстрировать эффективную технику
                            ведения рукопашного боя, умение нападать, защищаться, контратаковать,
                            терпение, выдержку и волю к победе. Принимающий, проводя атакующие,
                            оборонительные и контратакующие действия, должен создать условия для
                            объективной оценки умения вести поединок и волевых качеств испытуемого.
                            Прошедшим Испытание считается кандидат, который провел
                            поединок активно, без нокаута (двух нокдаунов} и демонстрировал при этом
                            эффективную технику рукопашного боя.</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img class="w-100 logoimg py-4" src="{{ url_for ('static', filename = 'img/beret14.JPG') }}">
                    </div>
                    <div class="col-lg-8 col-md-12 text-justyfy">
                        Испытания считаются пройденными успешно, если кандидат при
                        отработке учебных вопросов четвертого этапа (основной части Испытаний)
                        получил «зачет».
                        «Зачет» ставится, если кандидат прошел этап в полном объеме,
                        соблюдая требования настоящей Программы и условия выполнения
                        нормативов (упражнений), при этом все нормативы (упражнения) выполнены
                        на оценку не ниже «хорошо» или «зачтено», выполнен контрольный выстрел
                        вверх холостым патроном по прохождении СШТ.
                        «Не зачет» может быть выставлен за несоблюдение правил и
                        требований мер безопасности, утере предметов вооружения и экипировки, за
                        неготовность оружия к выполнению контрольного выстрела по окончании
                        прохождения СШ.
                        При получении «не зачета» или трех замечаний в ходе
                        прохождения основной части Испытаний кандидат от дальнейшего
                        прохождения Испытаний отстраняется. Замечания объявляются и заносятся в
                        ведомость прохождения этапов.
                        Кандидату, успешно прошедшему Испытания, решением комиссии
                        вручается краповый берет.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}