{% extends "base.html" %}

{% block content %}
<main>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h3 class="text-center my-lg-5">Военнослужащие нашей части - Герои Российской Федерации</h3>
            </div>
            <div class="col-lg-6 col-md-12">
                <img class="w-75 logoimg my-lg-3" src="{{ url_for ('static', filename = 'img/zvezda.jpg') }}">
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Полковник Лысюк Сергей Иванович</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/lisuk.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> полковнику Лысюку Сергею Ивановичу Указом Президента Российской
                    Федерации № 1792 от 7 октября 1993 года присвоено звание Героя Российской
                    Федерации, благодаря решительности и профессионализму, С. Лысюку с
                    подчиненным личным составом удалось в октябре 1993 года пресечь массовые
                    беспорядки в центре российской столицы вблизи телецентра Останкино.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Рядовой Ситников Николай Юрьевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/RyadovoySitnikov.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> рядовому Ситникову Николаю Юрьевичу Указом Президента Российской Федерации №
                    1792 от 7 октября 1993 года присвоено звание Героя Российской Федерации
                    (посмертно), за мужество и профессионализм, проявленные во время спец. Операции
                    по обороне важного государственного объекта, телекомплекса «Останкино».
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Полковник Никишин Александр Николаевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Nikishin.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Полковнику Никишину Александру Николаевичу Указом Президента Российской
                    Федерации № 689 от 12
                    мая 1996 года присвоено звание Героя Российской Федерации, в ходе успешно проведенных мероприятий,
                    подчиненным А. Никишина удалось
                    освободить из плена заложников и вывести их из-под обстрела террористов.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Полковник Кублин Олег Васильевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Kublin.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Полковнику Кублину Олегу Васильевичу Указом Президента Российской Федерации №
                    1065 от 20
                    июля 1996 года присвоено звание Героя Российской Федерации, офицер О. Кублин возглавил отряд
                    разведчиков и
                    выявил несколько позиций чеченских террористов, по которым вскоре был нанесен точечный удар
                    артиллерии. Ведя
                    ожесточенный бой с превосходящими силами противника, Олег Васильевич попал под пулю снайпера.
                    Несмотря на
                    тяжелое ранение (пуля прошла чуть в стороне от сердца), офицер некоторое время еще руководил боем,
                    пытаясь
                    координировать действия подчиненных.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Рядовой Долгов Олег Николаевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Dolgov.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Рядовому Долгову Олегу Николаевичу – Указом Президента Российской Федерации №
                    1065 от 20
                    июля 1996 года присвоено звание Героя Российской Федерации (посмертно), в период с 15 по 16 января
                    1996 года
                    рядовой Олег Долгов в составе одной из штурмовых групп выполнял специальную задачу командования в
                    районе
                    населенного пункта Первомайское (Республика Дагестан). Чеченские террористы, захватившие заложников
                    и
                    расстрелявшие местных милиционеров, пытались вырваться из блокированного федеральными войсками села.
                    Целые
                    сутки товарищи Долгова пробивались в центр Первомайского, по пути ликвидируя бандитов из отряда
                    Радуева.
                    Несколько раз сам Олег, подбираясь вплотную к позициям противника, закидывал боевиков гранатами,
                    обеспечивая
                    безопасный проход остальным военнослужащим. Одна из задач, поставленная командованием, заключалась в
                    оперативной помощи боеприпасами окруженной группе спецназа. Прикрывая друг друга огнем, боевые
                    товарищи
                    Долгова выполнили приказ, но при этом пули снайпера поразили солдата.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Лейтенант Горячев Сергеq Евгеньевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Goryachev.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Лейтенанту Горячеву Сергею Евгеньевичу Указом Президента Российской Федерации
                    от 4 февраля
                    2000 года присвоено звание Героя Российской Федерации, обеспечивая прикрытие разведывательной
                    группы, лично
                    обнаружил и уничтожил из бесшумного оружия секрет боевиков, чем обеспечил скрытое продвижение
                    личного состава
                    через участок местности, контролируемый боевиками. Находясь в самых горячих точках боевых порядков
                    подразделения,
                    действовал решительно и смело, ведя непрерывный огонь по боевикам, вел за собой своих сослуживцев.
                    Под
                    руководством прапорщика Горячева С.Е., был обнаружен и уничтожен телеретрансля¬тор на базе ЗИЛ-157.
                    Благодаря
                    смелым действиям прапорщика Горячева С.Е. личный состав разведывательной роты войсковой части 6752
                    был выведен из окружения.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Подполковнику Юшкову Сергею Геннадьевичу</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Ushkov.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Подполковнику Юшкову Сергею Геннадьевичу Указом Президента Российской Федерации
                    от 4 февраля 2000 года
                    присвоено звание Героя Российской Федерации, 29 августа 1999 года майор Юшков С.Г. руководил
                    действиями войсковой части 3499
                    по разблокированию на горе Чабан Буйнакского района находя¬щейся в окружении разведывательной роты
                    войсковой части 6752
                    внутренних войск МВД России. Находясь на наиболее опасных участках, действовал решительно и смело,
                    ведя непрерывное управление
                    боевыми порядками воинской части. Благодаря профессионализму и смелости майора Юшкова С.Г. личный
                    состав разведывательной роты
                    войсковой части 6752 был выведен из окружения.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Старший сержант Шрайнер Сергей Александрович</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Shrayner.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Старшему сержанту Шрайнеру Сергею Александровичу Указом Президента Российской
                    Федерации
                    № 255 от 5 марта 2001 года присвоено звание Героя Российской Федерации (посмертно), 13 - 14 июля
                    2000 года при
                    захвате боевиков из окруженного автомобиля выскочил неизвестный и метнул гранату в сторону группы
                    прикрытия.
                    Брошенная граната упала в боевых порядках рядом со старшим сержантом Шрайнер С.А. и находящимися с
                    ним рядом
                    военнослужащими. В сложившейся критической ситуации старший сержант Шрайнер С.А., проявив героизм и
                    мужество,
                    стремясь нейтрализовать взрыв гранаты бронежелетом, спасая жизни своих боевых товарищей, он некрял
                    гранату
                    своим телом.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Рядовой Золотухин Евгений Валерьевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Zolotuhin.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Рядовому Золотухину Евгению Валерьевичу Указом Президента Российской Федерации
                    № 1028 от
                    10 августа 2001 года присвоено звание Героя Российской Федерации (посмертно), в ходе проведения
                    спец. операции
                    по ликвидации НВФ действовал в паре с командиром группы капитаном Шихановым С.Г. и, ког¬да из
                    подвального
                    помещения показался ствол автомата в направлении ко¬мандира, первым заметил опасность и верный
                    Военной Присяге
                    своим телом прикрыл его, приняв на себя автоматную очередь. Ценой своей жизни спас жизнь командиру
                    подразделения.
                    Благодаря самоотверженным действиям рядового Золотухина Е.В., находившиеся в подвальном помещении
                    дома боевики,
                    несмотря на ожесточенное вооруженное сопротивление, были уничтожены.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Сержант Бурнаев Сергей Александрович</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Burnaev.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Сержанту Бурнаеву Сергею Александровичу Указом Президента Российской Федерации
                    № 992 от 16
                    сентября 2002 года присвоено звание Героя Российской Федерации (посмертно), в подвале здания группа
                    спецназа, в
                    которую входил сержант Бурнаев С.А., обнаружила ходы, ведущие в подвальные помещения соседних
                    зданий. Во время
                    движения группы спецназовцев по подвальным лабиринтам этого здания, по ним был открыт огонь со
                    стороны боевиков.
                    Завязался бой. Отступая, бандиты отчаянно сопротивлялись. В какой-то момент один из них бросил в
                    военнослужащих
                    гранату. В тесном подземелье гибель многих бойцов была бы неминуема. Быстрее всех отреагировал
                    сержант Бурнаев С.А.:
                    он бросился к смертоносному металлу и накрыл гранату своим телом. Сержант Бурнаев С.А. погиб, но
                    спас от гибели своих
                    товарищей, и они успешно завершили операцию.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Старший лейтенант Шелохвостов Иван Юрьевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Shelohvostov.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Старшему лейтенанту Шелохвостову Ивану Юрьевичу Указом Президента Российской
                    Федерации №
                    750 от 8 июля 2003 года присвоено звание Героя Российской Федерации (посмертно), 4 февраля 2003 года
                    первая
                    группа специального назначения проверяла оперативную информацию в г. Аргун. Штурмовая группа в
                    составе пяти
                    человек под руководством капитана Шелохвостова И.Ю. стремительно вошла в дом. Командир группы шел
                    первым.
                    Боевики, оказавшие вооружённое сопротивление, сходу были уничтожены капитаном Шелохвостовым И.Ю..
                    Внезапно по
                    штурмовой группе был открыт огонь из автоматического оружия. Штурмовая группа оказалась под
                    шквальным огнем
                    боевиков. Мужественный офицер приказал группе отходить и прикрыл их отход автоматным огнем по
                    бандитам.
                    Превозмогая боль от полученного ранения, капитан Шелохвостов И.Ю. обеспечил выход группы и эвакуацию
                    раненых.
                    От выстрелов и взрывов гранат в здании начался пожар, воспламенился бытовой газ. Огонь очень быстро
                    распространялся, деревянное здание полностью охватило пламя. Оставшиеся в живых бандиты решились на
                    последний
                    имевшийся у них шанс – пошли на прорыв. Выскочивших из-за укрытия боевиков, капитан Шелохвостов И.Ю.
                    расстреливал в упор. Внезапно раздался мощный взрыв, перекрытие потолка и горящая крыша дома
                    обрушились,
                    погребя под своими обломками мужественного офицера.Благодаря личному мужеству и героизму капитана
                    Шелохвостова
                    И.Ю. была выполнена поставленная задача и спасены жизни четырех военнослужащих. В ходе проведения
                    специальной
                    операции штурмовой группой было убито шесть боевиков, в том числе амир Аргунского джамаата И.
                    Чантаев.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Майор Задорожный Игорь Сергеевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Zadorogniy.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Майору Задорожному Игорю Сергеевичу Указом Президента Российской Федерации №
                    802 от 11
                    ноября 2003 года присвоено звание Героя Российской Федерации, 28 января 2003 г.
                    разведывательно-поисковой группе
                    под командованием капитана Задорожного Игоря Сергеевича была поставлена задача, провести специальные
                    мероприятия
                    в районе н.п. Малые Шуани, с целью обнаружения и уничтожения базы боевиков. В 11 часов 50 минут база
                    бандитов была
                    обнаружена. Капитан Задорожный И.С. принял решение сковать боем обнаруженную бандгруппу и, вызвав
                    огонь артиллерии,
                    уничтожить ее в базовом лагере. В ходе вспыхнувшего боя стало ясно, что группа спецназовцев вступила
                    в единоборство с
                    хорошо подготовленной и многочисленной бандой. Учитывая сложность обстановки и возможность окружения
                    разведывательно-поисковой группы, капитан Задорожный И.С. принял решение, с целью избежания потерь
                    среди личного
                    состава, основной группе покинуть место боя, а сам с двумя разведчиками выдвинулся к лагерю боевиков
                    для корректировки
                    огня артиллерии. Мощный огневой удар артиллерии нанес серьезные потери бандитам, дезорганизовал их
                    оборону и управление.
                    Остатки банды предприняли попытку выйти из зоны артиллерийского огня, но на пути их прорыва
                    оказалась группа капитана
                    Задорожного И.С., которая вступила в бой, открыв автоматный огонь по прорывающийся группе бандитов.
                    Ведя неравный бой,
                    капитан Задорожный И.С лично уничтожил пятерых бандитов. В критический момент боя, когда боевики
                    попытались окружить
                    капитана Задорожного И.С. и его двух подчиненных, отважный офицер вызвал огонь артиллерии на себя. В
                    результате точного
                    артиллерийского огня бандиты были рассеяны, чудом оставшись в живых, получив тяжелую контузию,
                    капитан Задорожный И.С.
                    организовал преследование остатков бандгруппы. В ходе преследования отходящих бандитов, спецназовцы
                    несколько раз
                    преодолевали заминированные боевиками участки местности. В ходе разминирования одного из таких
                    участков произошел подрыв
                    самодельного взрывного устройства, в результате чего один из военнослужащих группы получил серьезные
                    ранения. Несмотря на
                    грозившую опасность, капитан Задорожный И.С. бросился выносить своего подчиненного, при этом боевики
                    произвели подрыв
                    второго управляемого фугаса. Спасая подчиненного, капитан Задорожный И.С. закрыл его своим телом, в
                    результате чего
                    получил контузию и тяжелые ранения: отрыв правой ступни, открытый перелом обеих костей голени на
                    левой ноге, травма левого колена,
                    открытый перелом предплечья правой руки, травма кисти правой руки.
                    Благодаря мужеству и героизму капитана Задорожного И.С. его профессионализму и преданности своей
                    Родине боевая задача была
                    успешно выполнена, база бандитов была ликвидирована, уничтожено двадцать бандитов, в том числе
                    полевой командир А.Халпадов,
                    четыре боевика из личной охраны А.Масхадова.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Капитан Серков Дмитрий Александрович</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/Serkov.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Капитану Серкову Дмитрию Александровичу Указом Президента Российской Федерации
                    № 1658 от
                    11 декабря 2007 года присвоено звание Героя Российской Федерацииприсвоено звание Героя Российской
                    Федерации
                    (посмертно), 2 августа в 21 час 20 минут группа сапёров из состава штурмовой группы капитана Серкова
                    Д.А.
                    выдвинулась для установки рубежа минирования на пути следования бандгруппы. Через 10 минут
                    наблюдатель доложил
                    о появлении бандгруппы с противоположной стороны от группы саперов. Создалась угроза их огневого
                    поражения.
                    Капитан Серков Д.А., оценив сложившуюся обстановку, принял решение вызвать огонь на себя и вывести
                    сапёров
                    из-под обстрела. Вступив в неравный огневой контакт, капитан Серков Д.А. лично уничтожил двух
                    бандитов, при
                    этом получив огнестрельное ранение в руку. В ходе боя, получил ранение и связист группы, прапорщик
                    Емельянов
                    С.А., который в этот момент находился рядом с капитаном Серковым Д.А.. Заметив, что прапорщик
                    Емельянов С.А.
                    ранен, командир, стал эвакуировать его из зоны огневого контакта, но при этом вновь получил ранение
                    в ногу.
                    Бандиты, увидев, что капитан Серков Д.А. лишён возможности передвигаться самостоятельно, пошли на
                    сближение.
                    Дав возможность бандитам подойти ближе, броском гранаты и огнем из автомата он уничтожил одного
                    бандита и
                    ранил другого. В ходе боя, спасая жизнь подчиненного, капитан Серков Д.А. получил смертельное
                    ранение.
                </p>
            </div>
        </div>
    </div>
    <h3 class="text-center my-4">Сержант Ситников Алексей Сергеевич</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/SergantSitnikov.jpg') }}">
            </div>
            <div class="col-lg-9 col-md-12">
                <p class="text-justyfy"> Сержанту Ситникову Алексею Сергеевичу Указом Президента Российской Федерации №
                    177 от 10 февраля 2010 года
                    присвоено звание Героя Российской Федерации (посмертно), в ходе боестолкновения с НВФ сержант
                    Ситников А.С. заметил как один
                    боевик, имея при себе пояс, начинённый взрывчатым веществом, попытался скрытно выдвинуться во фланг
                    группе досмотра с целью
                    подрыва военнослужащих и недопущению их воссоединения с основными силами. В случае подрыва
                    досмотровой группы боевики получили
                    бы численное превосходство и исход боестолкновения оказался бы на их стороне, в результате чего
                    разведывательная группа понесла
                    бы большие боевые потери. Сержант Ситников А.С. понимал, что обезвредить бандита возможно только в
                    непосредственной близости,
                    ввиду отсутствия условий прямого огневого поражения. А так как боевик находился вне зоны видимости
                    других военнослужащих группы,
                    то приступать к выполнению задачи необходимо было лично. Доложив по радиостанции об обстановке и
                    принятом решении, отважный
                    спецназовец, осознавая, что совершать маневр ему придётся за каменной грядой, в результате чего он
                    будет лишён огневой поддержки
                    основных сил группы, приступил к выполнению задачи. Проявляя мужество и хладнокровие, на пределе
                    физических возможностей, он
                    бросился в направлении боевика. Бандиты, заметив дерзкий рывок спецназовца, обрушили на него шквал
                    огня. Отстреливаясь, сержант
                    Ситников А.С., поравнявшись с боевиком-смертником, используя приёмы рукопашного боя, сбил противника
                    с ног и огнём из пулемёта
                    уничтожил его, не дав привести в действие взрывное устройство. В тот же самый момент, сержант
                    Ситников А.С., попав в сектор
                    обстрела наступавших боевиков, получил множественные пулевые ранения. Доложив по радиостанции об
                    уничтожении боевика, отважный
                    сержант ведя огонь по наседавшим бандитам стал пробираться к основным силам, но преодолев половину
                    пути, в результате большой
                    потери крови стал терять сознание. От полученных ранений скончался в госпитале г .Каспийска.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="text-center">Военнослужащие, зачисленные в списки части навечно:</h3>
        <p class="text-justyfy">
            1. командир отделения снайперов старший сержант Яцына Илья Михайлович – Приказ МВД России № 0291 от 23
            апреля 1957 года;<br>
            2. сапер 2 группы специального назначения рядовой Ситников Николай Юрьевич - Приказ МВД России № 142 от 24
            апреля 1994 года;<br>
            3. инструктор разведывательной группы сержант Бурнаев Сергей Александрович – Приказ МВД России № 77 от 4
            февраля 2003 года;<br>
            4. командир штурмовой группы 1 группы специального назначения старший лейтенант Шелохвостов Иван Юрьевич –
            Приказ МВД России № 326 от
            25 мая 2004 года;<br>
            5. командир штурмовой группы 1 группы специального назначения капитан Серков Дмитрий Александрович – Приказ
            МВД России № 1158 от 26
            декабря 2008 года;<br>
            6. разведчик-пулеметчик разведывательной группы сержант Ситников Алексей Сергеевич – Приказ МВД России № 151
            от 27 марта 2011 года;<br>
            7. старший пулеметчик 2 группы специального назначения рядовой Долгов Олег Николаевич – Приказ МВД России от
            9 июля 1997 года.<br>
        </p>
    </div>


</main>
{% endblock %}