{% extends "base.html" %}

{% block content %}
<main>

      
    <h3 class="text-center">604 ордена Кутузова, Краснознамённый центр специального назначения «Витязь»</h3>
<p class="text-justfy">Является старейшей воинской частью специального назначения войск национальной гвардии Российской Федерации. Был образован 29 декабря
 1977 года, в этом году центру исполняется сорок два года. За годы своего существования воинская часть прошла славный боевой путь от
учебной роты специального назначения до центра спецназа. По местам выполнения боевых задач центра можно изучить всю географию нашей
необъятной Родины, это боевые операции в Сумгаите, Фергане, Удмуртии, Башкирии, Армении, Азербайджане, Абхазии, Северной Осетии,
Чечне, Ингушетии, на Дальнем Востоке и в городе Москва. Воспитанниками «Витязя» являются 14 Героев России, 8 из них удостоены этого
звания посмертно. Центром специального назначения командует полковник Алексей Иванович Стромаков. Нынешнее поколения «Витязей»
воспитано на славных боевых традициях ветеранов воинской части и продолжает высоко нести Знамя флагмана спецназа войск
национальной гвардии России.</p>

<h3 class="text-center">Сведения о боевом пути</h3>
<p class="text-justfy">29 декабря 1977 года образована учебная рота специального назначения на базе 2 полка ОМСДОН.</p>
<p class="text-justfy">6 июня 1980 года УРСН выполняла задачи по обеспечению безопасности в районе аэропорта Внуково, 
где потерпел катастрофу самолет Ан 24.</p>
<p class="text-justfy">В июле несла боевое дежурство во время проведения XXII Олимпийских игр. 
<p class="text-justfy">С 1981 года УРСН возглавил С.И. Лысюк. В октябре 1981 года личный состав роты принимал участие в 
спецоперации по ликвидации массовых беспорядков в городе Орджоникидзе (ныне Владикавказ). </p>
<p class="text-justfy">18 декабря 1989 года “витязи” совместно с группой “А” КГБ СССР освобождали заложников, захваченных 
преступниками в одной из школ города Сарапул Удмуртской АССР. </p>
<p class="text-justfy">В июле 1982 года спецназ внутренних войск МВД СССР принимал участие в мероприятиях по ликвидации 
последствий авиакатастрофы близ Внуково.</p>
<p class="text-justfy">Первые годы существования спецназа и первые проведенные им операции показали необходимость 
самостоятельно отбирать и готовить новобранцев из числа призывников для их дальнейшей службы в 
подразделении специального назначения. Для этих целей в июле 1984 года в штат УРСН был введен учебный 
взвод.</p>
<p class="text-justfy">В ноябре 1984 года “Витязи” успешно выполнили особо важное правительствен-ное задание по оказанию 
помощи сотрудникам Генеральной прокуратуры СССР в ходе расследования, так называемого “узбекского дела”.</p>
<p class="text-justfy">В июле 1985 года рота несла боевое дежурство во время проведения Всемирного фестиваля молодежи и 
студентов в Москве. </p>
<p class="text-justfy">21 сентября 1986 года УРСН ОМСДОН совместно с группой “А” КГБ СССР при-нимала участие в спецоперации 
по освобождению самолета, захваченного террористами в аэропорту города Уфы.</p>
<p class="text-justfy">В феврале - марте 1988 года спецназовцы внутренних войск пресекали массовые беспорядки, погромы, 
грабежи и бесчинства в отношении местного населения в Сумгаите Азербайджанской ССР, вели поиск оружия в 
местах его незаконного хранения, проводили изъятие похищенных ценностей у преступников, охраняли особо
важные объекты республиканского МВД в местах со сложной оперативной обстановкой.
<p class="text-justfy">В июле того же года принимали участие в спецоперации по разблокированию аэропорта Звартноц города 
Ереван, в сентябре ликвидировали массовые беспорядки в самой азербайджанской столице. В ноябре декабре 
спецназ перебросили в Армению, где “витязи” обеспечивали режим чрезвычайного положения в Баку, очищали 
площадь им. Ленина от экстремистки настроенных лиц. 1989 год выдался для “витязей” не менее напряженным. 
<p class="text-justfy">В мае спецназовцы освобождали заложников, захваченных преступниками в следственном изоляторе города 
Кизел и в исправительно-трудовой колонии поселка Лесное. </p>
<p class="text-justfy">В июне участвовали в операции по пресечению беспрецедентных по масштабам и жестокости акций 
националистического терроризма, ликвидации массовых беспорядков, разоружению экстремистов, сопровождению 
колонн с беженцами в Ферганской области Узбекской ССР.</p>
<p class="text-justfy">В ноябре совместно с правоохранительными органами участвовали в мероприяти-ях по восстановлению 
общественного порядка в Молдавской ССР. </p>
<p class="text-justfy">Привлечение внутренних войск к участию в разрешении межнациональных конфликтов обусловило 
необходимость увеличения численности, совершенствования структуры и подготовки подразделений специального
назначения. </p>
<p class="text-justfy">В декабре 1989 года на базе УРСН был создан учебный батальон специального назначения.
<p class="text-justfy">В январе 1990 года “витязи” оказывали помощь пограничникам в охране государ-ственной границы в 
Нахичеванской автономной области Азербайджанской ССР и совместно с группой “А” КГБ СССР задерживали 
экстремистов из Народного фронта Азербайджана, проведя несколько успешных операций в Баку. </p>
<p class="text-justfy">В апреле изымали градобойные орудия у армянских боевиков и провели спецоперацию по освобождению 
заложников, ликвидировав базу террористов в районе города Иджеван. </p>
<p class="text-justfy">В июле, патрулируя на вертолетах армяно-азербайджанскую границу, возле села Вагуди разоружили банду 
численностью 50 человек. 
<p class="text-justfy">В августе совместно с группой “А” КГБ СССР участвовали в проведении уникальной операции по 
освобождению заложников, захваченных вооруженными преступниками в изоляторе временного содержания города 
Сухуми. </p>
<p class="text-justfy">Весной 1990 года в батальоне был предпринят эксперимент по формированию роты, укомплектованной 
исключительно военнослужащими по контракту. </p>
<p class="text-justfy">Осенью того же года состоялся первый международный контакт спецназовцев внутренних войск с коллегами 
из зарубежья: в ноябре представители “Витязя” выезжали на стажировку в спецкоманду “Кобра” федеральной 
жандармерии Австрии. Весной 1991 года спецназовцы совершили проводку колонны с продовольствием через 
Рокский перевал, прорвав экономическую блокаду города Цхинвал Юго Осетинской автономной области и 
разоружив боевиков.</p>
<p class="text-justfy">В июне 1991 года бойцы отряда по заданию командования провели проверку разведданных о подготовке 
экстремистов к проведению противоправных акций в Молдавской ССР. </p>
<p class="text-justfy">В ноябре охраняли заблокированное здание республиканского МВД в Грозном. В декабре участвовали 
в обеспечении правопорядка во Владикавказе, где резко обострилась оперативная обстановка.</p>
<p class="text-justfy">В мае 1992 года “витязи” изымали оружие в Северной Осетии, во Владикавказе задержали и разоружили боевиков группы Тезиева, готовивших 
серию терактов. </p>
<p class="text-justfy">В июле октябре того же года охраняли представительства Верховного Совета России в городе Назрань 
Республики Ингушетия.</p>
<p class="text-justfy">В сентябре проводили разведывательно-поисковые мероприятия в Карачаево-Черкесии с целью задержания и 
разоружения чеченских боевиков, пытавшихся проникнуть в Абхазию. </p>
<p class="text-justfy">В октябре ликвидировали массовые беспорядки в следственном изоляторе города Нальчик Кабардино-Балкарии,
задерживали особо опасных преступников в городе Тырныауз. В ноябре разоружали отряды экстремистов, 
предотвращая столкновения между противоборствующими сторонами в зоне осетино-ингушского конфликта.</p> 
<p class="text-justfy">В июле 1993 года отряд, вновь введенный в зону осетино-ингушского конфликта, в районе села Али Юрт ликвидировал бандформирование, 
терроризирующее местных жителей. А осенью того же года оборонял телецентр “Останкино” в Москве, принимал участие в мероприятиях по 
восстановлению правопорядка в столице.</p>
<p class="text-justfy">Начиная с осени 1994 года вся история отряда специального назначения “Витязь” — сплошная череда 
специальных операций по пресечению деятельности незаконных вооруженных формирований в Северо-Кавказском 
регионе Российской Федерации.</p>
<p class="text-justfy">С 17 сентября по 11 декабря 1994 года отряд проводил разведывательно-поисковые мероприятия на границе 
с Чеченской Республикой, изучая местность, обстановку и охраняя колонны МЧС с гуманитарными грузами. </p>
<p class="text-justfy">С 11 по 30 декабря проводил спец. мероприятия по освобождению из плена военнослужащих полка 
оперативного назначения Приволжского округа внутренних войск, уничтожил блокпост боевиков под станицей 
Ищерской, принимал участие в войсковых операциях по ликвидации бандгрупп.</p>
<p class="text-justfy">В январе 1995 года военнослужащие отряда проводили поисковые мероприятий в населенных пунктах вдоль 
железнодорожной ветки Моздок — Червленная — Грозный. </p>
<p class="text-justfy">В марте участвовали в операциях по освобождению от боевиков городов Аргун и Гудермес.</p> 
<p class="text-justfy">В апреле уничтожали бандформирования в Самашках и под Бамутом. Верные спецназовскому братству, рискуя 
собственными жизнями, пришли на выручку братишкам из отряда “Росич”, ведущими неравный бой в окружении 
превосходящих сил боевиков на Лысой горе. </p>
<p class="text-justfy">В мае приняли жестокий бой за высоту 541,9. </p>
<p class="text-justfy">В январе 1996 года “витязи” принимали участие в штурме села Первомайское, захваченного бандой Радуева.
<p class="text-justfy"> В феврале уничтожали отряды “непримиримых” боевиков в Новогрозненском.</p>
<p class="text-justfy">В 1997 - 1998 годах отряд выполнял боевые задачи в приграничных с Чечней районах. Одновременно с этим 
в пункте постоянной дислокации шла напряженная работа по совершенствованию учебного процесса с учетом 
опыта, накопленного при выполнении боевых задач в Чечне.</p>
<p class="text-justfy">В январе-мае 2002 года он участвует в проведении контртеррористических опера-ций в Северо-Кавказском 
регионе. </p>
<p class="text-justfy">23-26 октября того же года “витязи” совместно с сотрудниками центра специального назначения ФСБ России
освобождает заложников, захваченных чеченскими террористами в Москве во время представления мюзикла 
“Норд Ост”. </p>
<p class="text-justfy">С января по июль 2003 года военнослужащие отряда выполняли боевые задачи в Северо Кавказском регионе 
по уничтожение незаконных вооруженных формирований, нейтрализации лидеров бандподполья, изъятию оружия и 
боеприпасов. Совместно с сотрудниками правоохранительных органов проводили специальные операции по 
уничтожению нелегальных минизаводов по переработке нефти, служащих одним из основных источников 
пополнения казны банд формирований на территории Чеченской республики. Кроме этого “витязи” помогали 
милиционерам проводить проверку паспортного режима, выискивая легализовавшихся боевиков, обеспечивали 
безопасность местных органов власти и мирных граждан в Чечне. </p>
<p class="text-justfy">С июля по октябрь 2004 года личный состав отряда специального назначения “Витязь” был задействован в 
качестве резерва и выполнял задачи по приостановке противоправных действий в городе Сочи.</p> 
<p class="text-justfy">С января по ноябрь 2005 года спецназовцы “Витязя” вновь действовали в Чечне, где привлекались к 
выполнению специальных операций по поиску и нейтрализации участников бандформирований, разведывательно-
поисковым операциям, сопровождению войсковых колонн.</p> 
<p class="text-justfy">В октябре — ноябре 2006 года сводная группа военнослужащих ОСН “Витязь” успешно выполнила особо важное
задание правительства Российской Федерации по оказанию помощи и обеспечению безопасности сотрудников 
Генеральной прокуратуры, ведущих расследование экономических преступлений во Владивостоке.</p> 
<p class="text-justfy">С июня 2007 года военнослужащие отряда принимают участие в специальных комплексных профилактических 
операциях по пресечению деятельности бандподполья в республике Дагестан.</p>
<p class="text-justfy">С 2008 года по настоящее время военнослужащие центра несут регулярное боевое дежурство на территории 
Северного Кавказа (Дагестан), участвуют в контртеррористических спец. операциях, различных операциях по 
поиску, разоружению, ликвидации НВФ.</p>
<p class="text-justfy">В ходе выполнения боевых задач личным составом центра за последние годы уничтожено более 80 членов 
бандгрупп, захвачено и передано правоохранительным органам 12 боевиков. В результате боестолкновений 
личный состав центра безвозвратно потерял шестерых военнослужащих. </p>
<p class="text-justfy">Погибли при исполнении воинского долга:</p>
<p class="text-justfy">Ефрейтор Степанов Вадим Валерьевич;</p>
<p class="text-justfy">Сержант Ситников Алексей Сергеевич;</p>
<p class="text-justfy">Старший лейтенант Козлов Дмитрий Александрович;</p>
<p class="text-justfy">Сержант Радунский Евгений Романович;</p>
<p class="text-justfy">Подполковник Чеботаев Роман Валерьевич;</p>
<p class="text-justfy">Ефрейтор Горбатовский Павел Игоревич.</p>
<p class="text-justfy">В настоящее время 604 ордена Кутузова, Краснознаменный центр специального назначения «Витязь» 
является передовой частью специального назначения войск национальной гвардии РФ, для личного состава 
которой нет невыполнимых задач. Он по праву входит в число лучших подразделений специального назначения 
не только нашей страны, но и всего мира.
</p>

</main>
{% endblock %}