{% extends "base.html" %}

{% block content %}
    <main>
      <img class="logoimg w-50" src="{{ url_for ('static', filename = 'img/contract_title.JPG') }}">
      <p class="text-center">  Служба по контракту в ЦCпН «ВИТЯЗЬ» — это возможность осознанно и профессионально выполнить свою 
        конституционную обязанность и долг по защите Отечества. Поступая на военную службу по контракту, вы выбираете стабильность, 
        широкие возможности для самореализации, достойный уровень жизни и высокий социальный статус.</p>
        <p class="text-justyfy">  Преимущества военной службы по контракту:</p>
        <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/contract1.JPG') }}">
            <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/contract2.JPG') }}">
            </div>
            <div class="col-lg-6 col-md-12">
            <p class="text-justyfy"> 1) Предоставление служебных жилых помещений для проживания военнослужащего и членов его семьи, либо денежная компенсация за съем жилого
              омещения. </p>
            <p class="text-justyfy"> 2) Накопительно-ипотечная система жилищного обеспечения военнослужащих (на счет военнослужащего для покупки жилья ежегодно зачисляется 
              300 тыс. руб., с каждым последующим годом данная сумма индексируется с учетом инфляции. Помимо этого, на накопленную сумму начисляется 
              инвестиционный доход, который составляет от 6 до 10%. При достижении выслуги 20 лет (в том числе в льготном исчислении) возникает право 
              снятия накопленных денежных средств. Право на приобретение жилья наступает после истечения 3-х лет с момента включения в реестр 
              участников НИС. Приобрести жилье можно в любом регионе Российской Федерации, сумма на приобретение может составить до 5 млн. руб. 
              (по состоянию на 2021 год).</p>
            </div>
          </div>
      </div>

      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
            <p class="text-justyfy"> 3) Предоставление основного отпуска, продолжительностью от 30 суток, без учёта времени на дорогу к месту проведения отпуска и обратно, 
              а также дополнительных отпусков (общей продолжительностью до 75 суток). </p>
            <p class="text-justyfy"> 4) Бесплатное медицинское обслуживание военнослужащих и членов их семей, бесплатное обеспечение лекарственными средствами, возможность 
              медицинского обследования в госпиталях и медицинских учреждениях ВНГ РФ.</p>
            <p class="text-justyfy">  5) Льготное санаторно-курортное лечение и реабилитация, после выполнения служебно-боевых задач, в санаториях ВНГ РФ (в городах Сочи, 
              Туапсе, Кисловодск, Ессентуки и Московской области).</p>
            <p class="text-justyfy"> 6) Все военнослужащие подлежат обязательному государственному страхованию жизни и здоровья (страховые выплаты от 71 357 руб. до 2 854 
              292 руб.).</p>
            <p class="text-justyfy"> 7) При выполнении служебно-боевых задач - удостоверение «Ветерана боевых действий», дающее право на получение дополнительных льгот
              (ежемесячные выплаты, льготы на проезд, коммунальные услуги, транспортный налог и др.)</p>
            </div>
            <div class="col-lg-6 col-md-12">
              <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/contract3.JPG') }}">
              <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/contract4.JPG') }}">
              </div>
          </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/contract5.JPG') }}">
            <img class="w-75 logoimg" src="{{ url_for ('static', filename = 'img/contract6.JPG') }}">
            </div>
            <div class="col-lg-6 col-md-12">
            <p class="text-justyfy"> 8) Ежемесячно выплачивается денежное довольствие, состоящее из месячного оклада в соответствии с занимаемой воинской должностью, 
              присвоенным воинским званием и иных выплат (за право ношения крапового берета, звание мастера спорта, наличие государственных наград 
              и др.). На текущий момент военнослужащие, проходящие военную службу по контракту на должностях сержантов и солдат, получают стабильное 
              ежемесячное денежное содержание в размере от 31 000 до 75 000 рублей. </p>
            <p class="text-justyfy"> 9) Военнослужащие, прослужившие 20 лет (в том числе в льготном исчислении) имеют право на получение пенсии. Таким образом военнослужащий,
              поступивший на службу в 18 лет, в 38 лет имеет право выйти на пенсию (выход на пенсию для гражданских лиц - при достижении возраста 65
              лет). Служба в воинских частях специального назначения подлежит зачету в выслугу лет на льготных условиях из расчета один месяц 
              службы за полтора месяца. Прослужив 20 лет в подразделение специального назначения для расчета пенсии, будет учитываться льготная 
              служба, которая будет равняться 30 годам, что позволит установить дополнительную надбавку в размере 80% к пенсии военнослужащего. 
              Пример: заместитель командира взвода, старший сержант, ветеран боевых действий (выслуга — 20 лет календарная, 30 лет льготная, 
              овд — 18995 рублей, овз — 7000 рублей). По состоянию на 2021 год размер пенсии составит — 22389 рублей.</p>
            </div>
          </div>
      </div>

</main>
{% endblock %}