{% extends "base.html" %}

{% block content %}

<main>
    <p>Напишите, что-то интересующее Вас и командование воинской части через определенное
        время это обязательно увидит. Может есть какое-то предложение или желаете устроиться на
        военную службу по контракту, может вы ранее проходили службу в воинской части и хотите обратиться
        к командованию по личным вопросам.</p>

    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12" >
                    {% for msg in get_flashed_messages() %}
                    <div class=flash>{{ msg }}</div>
                    {% endfor %}
                </div>
            </div>
                    <form class="row g-3" method="post">
                        <div class="col-md-6">
                            <label class="form-label">Имя</label>
                            <input type="text" name="name" class="form-control" value="{{ name }}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Фамилия</label>
                            <input type="text" name="last_name" class="form-control" value="{{ last_name }}">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Содержание сообщения</label>
                            <textarea class="col-12" name="body" id="body">{{ body }}</textarea>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg">Отправить сообщение</button>
                        </div>
                    </form>

</main>

{% endblock %}


